@font-face {
  font-family: "GongGothicMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.header {
  width: 100vw;
  height: 7vh;
  background-color: rgb(255, 110, 16);
}

.header span {
  position: absolute;
  top: 10px;
  left: 25%;
  font-family: "GongGothicMedium";
  color: white;
  text-align: center;
  font-size: 200%;
  width: 50vw;
}
body{
  font-family: "GongGothicMedium";
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 5vw;
  display: inline;
  color: white;
  text-align: center;
  font-size: 200%;
}
.close :hover {
  color: black;
}
.photo1 {
  width: 100px;
  height: 100px;
  border: 2px solid;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 20px 20px 20px 20px;
}

.main {
  font-family: "GongGothicMedium";
  width: 100vw;
  height: 80vh;
  padding-top: 30px;
  padding-left: 30%;
  font-size: 150%;
  overflow: scroll;
}

.main span {
  margin-top: 5vh;
}

.Title {
  margin-top: 5vh;
}

.Price {
  margin-top: 5vh;
}

.Describe {
  margin-top: 5vh;
}

.Contact{
  margin-top: 5vh;
}
.Password{
  margin-top: 5vh;
}

.title {
  width: 40vw;
  height: 3vh;
  margin-top: 10px;
  border-radius: 20px 20px 20px 20px;
  font-size: 130%;
  padding: 20px;
}

.price {
  width: 40vw;
  height: 3vh;
  margin-top: 10px;
  border-radius: 20px 20px 20px 20px;
  font-size: 130%;
  padding: 20px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.describe {
  width: 40vw;
  height: 15vh;
  margin-top: 10px;
  border: 2px solid;
  border-radius: 20px 20px 20px 20px;
  font-size: 130%;
  resize: none;
  padding: 10px;
}
.contact{
  width: 40vw;
  height: 3vh;
  margin-top: 10px;
  border-radius: 20px 20px 20px 20px;
  font-size: 130%;
  padding: 20px;
}

.password{
  width: 40vw;
  height: 3vh;
  margin-top: 10px;
  border-radius: 20px 20px 20px 20px;
  font-size: 130%;
  padding: 20px;
}
.repassword{
  width: 40vw;
  height: 3vh;
  margin-top: 10px;
  border-radius: 20px 20px 20px 20px;
  font-size: 130%;
  padding: 20px;
}

.submit {
  width: 40vw;
  margin-top: 20px;
  position: absolute;
  left: 30vw;
  background-color: rgb(255, 110, 16);
  font-family: "GongGothicMedium";
  color: white;
  text-align: center;
  font-size: 200%;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
}

.preview-image {
  width: 100px;
  height: 100px;
  border: 2px solid;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 20px 20px 20px 20px;
}

.detailmain{
  width: 60vw;
  height: 87.7vh;
  margin-top: 5vh;
  margin-left: 20vw;
}

.detailphoto{
  height: 40vh;
}

.detailphoto1{
  border: 1px solid;
  width: 25vw;
  height: 40vh;
  margin-left: 17vw;
  border-radius: 20px 20px 20px 20px;

}

.detailtitle{
  background-color: lightgrey;
  height: 10vh;
  border: 1px none;
}
.titletext{
  padding-left: 10px;
  padding-top: 2.6vh;
  font-size: 200%;
}

.descriptiontext{
  padding-left: 10px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 130%;
}

.footer{
  position: absolute;
  bottom: 0px;
  width: 60vw;
  height: 10vh;
  background-color: lightgrey;
}

.heart{
  margin-left: 30px;
  padding-top: 2vh;
  font-size: 300%;
  display: inline-block;
}

.pricetext{
  text-align: center;
  width: 20vw;
  position: absolute;
  top: 30px;
  font-size: 150%;
  display: inline-block;
}

.detailsubmit {
  width: 10vw;
  position: absolute;
  top: 20px;
  right: 50px;
  background-color: rgb(255, 110, 16);
  color: white;
  text-align: center;
  font-size: 150%;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  
}
.detaildelete {
  width: 10vw;
  position: absolute;
  top: 58%;
  left: 65%;
  background-color: rgb(255, 110, 16);
  color: white;
  text-align: center;
  font-size: 150%;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
}

.popup {
  background-color: white;
  border: 1px solid;
  width: 50vw;
  height: 30vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 180%;
}

.popup-content {
  text-align: center;
}

.popupclose{
  border: none;
  width: 10vw;
  height: 5vh;
  background-color: rgb(255, 110, 16);
  color: white;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  font-size: 90%;
  font-family: "GongGothicMedium";
}

.popup1 {
  background-color: white;
  border: 1px solid;
  width: 50vw;
  height: 30vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 180%;
}

.popup1close{
  border: none;
  width: 10vw;
  height: 5vh;
  margin-top: 30px;
  background-color: rgb(255, 110, 16);
  color: white;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  font-size: 90%;
  font-family: "GongGothicMedium";
  position: absolute;
  left: 40%;
}
